useDynLib(dtPP, .registration = TRUE)
import(FME, plot3D)
importFrom(grDevices, "dev.interactive")
importFrom(graphics, "lines", "par",  "legend")
importFrom(stats, "coef", "pf", "predict", "printCoefmat", "AIC", "na.omit")
importFrom("stats", "approx", "approxfun", "uniroot", "lm")
importFrom("utils", "read.csv", "read.csv2", "read.delim",
           "read.delim2", "read.table")
import(dtWad, dtRtools)     

export(readFRRF, standardizeFRRF)  
export(fitPI, fitmultiPI, r.squared,  
  fWebb, fWebb.I, fJP, fJP.I, fPG, fPG.I, fEP, fEP.I)  
export(integratedPP)
export(intPP_mixed, rad_bot, intPP_exp, intPP_log)

S3method("logLik",  "fitPI")
S3method("predict", "fitPI")
S3method("predict", "fitmultiPI")
S3method("summary", "fitmultiPI")
S3method("coef",    "fitmultiPI")
S3method("print",   "summary.fitmultiPI")
S3method("plot",    "fitPI")
S3method("plot",    "integratedPP")
S3method("image2D", "integratedPP")
