useDynLib(dtRtools, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(grDevices, "dev.interactive")
importFrom(graphics, "lines", "par",  "legend")
importFrom("graphics", "matplot", "points", "polygon")
importFrom(stats, "coef", "pf", "predict", "printCoefmat", "AIC", "na.omit")
importFrom(stats, "approx", "approxfun", "uniroot", "lm", "aggregate", "reshape")
importFrom(utils, "read.csv", "read.csv2", "read.delim",
           "read.delim2", "read.table")
importFrom(ncdf4, "nc_open", "nc_close", "ncvar_get")  
import(sf)     
import(plot3D)
import(Rcpp)

export(wgs84_to_rd, rd_to_wgs84, wgs84_to_xy, xy_to_wgs84)
export(aspect_coord)
export(readRWS, readKNMI) 
export(readBathymetry, plotBathymetry)
export(mask_shape)
export(interpolate_xyt)
export(interpolate_xy, average_xy)
export(average_timeseries) 
export(dtreshape, dttolong, dttowide) 
export(meta)
export(first_in_period, last_in_period, count_in_period, all_in_period)
S3method(subset, dtLife)
S3method('[', dtLife)
S3method(plot, dtLife)
